* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Rubik", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
}

:root {
    --couleur-bleu: #102f74;
    --couleur-bleu-clair: #A1B0CD;
    --couleur-bleu-clair-2: #E6EAF2;
    --couleur-fonce-gris: #333333;
    --couleur-gris: #f1f1f1;
    --couleur-gris2: #999999;
    --couleur-rouge: #d0001a;
    --couleur--rouge2: #9B0013;
    --couleur-rouge3: #F8D9DD;
}


body{
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
    margin-top: 60px;
}

nav {
    background-color: var(--couleur-bleu);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 0 25px 0 var(--couleur-bleu);
}

nav * {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
    transition:0.5s;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position:relative;
    font-size:18px;
    transition:0.2s;
}

ul:hover li a{
    transform:scale(1);
    opacity:0.2;
    filter:blur(2px);
}
  
ul li a:hover{
    transform:scale(1);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
}
  
ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--couleur-bleu-clair);
    transition:0.2s;
    transform:scaleX(0);
    z-index:-1;
}
  
ul li a:hover:before{
    transition:transform 0.2s;
    transform:scaleX(1);
}

main{
    padding: 20px;
}


table {
    background: var();
    border-collapse: collapse; 
    width: 100%;
}

table a {
    text-decoration: none;
}

th {
    background-color: var(--couleur-bleu);
    color: #fff;
    text-align: left;
    padding: 10px;
    border: 1px solid var(--couleur-bleu);
}

td {
    border: 1px solid var(--couleur-bleu);
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--couleur-gris);
}


tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: var(--couleur-bleu-clair);
}

.container {
    min-width: 400px;
    width: fit-content;
    margin: 0 auto;
    border: 1px solid var(--couleur-gris2);
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;


    & h3 {
        margin-top: 10px;
    }
}

.show {
    display: flex;
    flex-direction: column;

    & p {
        margin-top: 0;
    }


    & a {
        text-decoration: none;
    }
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: 1px solid var(--couleur-gris2);
    border-radius: 5px;
}

.btn {
    margin-top: 10px;
    display: inline-block;
    padding: 5px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--couleur-bleu-clair);
    color: var(--couleur-bleu);
    border-radius: 5px;
    background-color: var(--couleur-bleu-clair-2);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--couleur-bleu-clair);
    color: #fff;
}

.btn.red {
    border: 2px solid var(--couleur--rouge2);
    color: var(--couleur-rouge);
    
}

.btn.back {
    border: 2px solid var(--couleur-fonce-gris);
    background-color: var(--couleur-fonce-gris);
    color: var(--couleur-gris);
}

.btn.back:hover {
    border: 2px solid var(--couleur-fonce-gris);
    background-color: var(--couleur-gris);
    color: var(--couleur-fonce-gris);
}

.btn.red:hover {
    background-color: var(--couleur-rouge3);
    color: var(--couleur-rouge);
}

li {
    font-weight: 200;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h3 {
    font-size: 24px;
    text-align: center;
}

.list {
    border: solid 2px black;
    width: 550px;
}

a {
    margin: 0;
}

.center {
    display: flex;
    justify-content: space-between;
}

.strong {
    font-weight: bold;;
}

.edit {
    margin-top: 0;
}
.error{
    width: 100%;
    display: inline-block;
    padding:5px;
    background-color: rgb(251, 187, 187);
    border-radius: 5px;
    border: red 1px solid;
    font-size: 0.9em;
    color:red;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.money {
    font-style: italic;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.carselect {
    font-weight: normal;
    line-height: 2px;
}

.bill {
    width: 200px;
}

.billnumber {
    text-decoration: none;
}

.qt {
    max-width: 40px;
}


/*
https://codetheweb.blog/style-a-navigation-bar-css/
https://www.digitalocean.com/community/tutorials/css-variable-fonts
https://codepen.io/sbgoswami/pen/WWMQYQ
https://codepen.io/zachsaffrin/pen/oNraGw
